body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input {
  font-size: 1rem;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr auto;
}

.graphDiagram {
  grid-row: 1/3;
}

.graphDiagram canvas {
  outline: none;
}

.activeDetails {
  padding: 0 1rem;
  border-left: 1px solid lightgray;
  overflow-y: auto;
}

.graphDetails {
  padding: 0 1rem;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.para {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.indent {
  margin-left: 1rem;
}

.superTitle {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.radioChoice {
  margin-left: 0.5rem;
}

.numberInput {
  width: 2rem;
}

.inputLabel {
  margin-bottom: 4px;
}

.scriptEditor {
  margin: 0 -8px 6px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background: #f0f0f0;
}

.branchTable {
  margin: 0 -8px 6px;
}

.branchConditionTable {
  margin: 0 -8px 6px;
}

.branchTableRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
  margin-bottom: 4px;
}

.branchConditionTableRow {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 4px;
  margin-bottom: 4px;
}

.inputTableCell {
  background: #f0f0f0;
  border-style: solid;
  border: none;
  padding: 8px;
}

.inputTableCell:focus {
  outline-style: solid;
  outline-width: 1px;
}

.scriptTableCell {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background: #f0f0f0;
}

.scriptTableCell textarea:focus {
  outline-style: solid;
  outline-width: 1px;
}

.buttonTableCell {
  display: flex;
  align-items: center;
}

.infoTableCell {
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-style: italic;
  color: #444;
}
